.home {
  &-hero {
    &-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/header-background.jpg");
    }
    &.hero {
      height: 100vh;
    }
  }
  .section-tricks{
    .card {
      height: 230px;
    }
  }
  &-trickList {
    &-text {
      .card-title {
        font-size: 1rem;
      }
      .card-link {
        max-width: 65%;
      }
    }
  }

}