@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import "base/base";

@import "helpers/helpers";

@import "themes/themes";

@import "layout/layout";

@import "components/components";

@import "entities/entities";


/*#################### DESKTOP CONTENTS ####################*/

@media (min-width: 990px) {
    .auth {
        margin-top: 150px;
    }
}

/*########### slider *##########*/

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/*#################### AUTHENTICATIONS PAGES ####################*/

.auth .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    max-width: 80%;
}