{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main class="mt-page container dashboard form pt-5">

    <h1 class="mainTitle text-center">Update your profile</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="d-flex justify-content-end">
        <button class="btn btn-success">{{ button_label|default('Update') }}</button>
    </div>
    {{ form_end(form) }}

</main>
{% endblock %}
